#card-hover {
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 60%;
    height: auto;
    padding: 10px;
    border-radius: 1px;
    font-family: 'Amaranth';
    font-size: 16px;
    color: rgb(0, 0, 0);
    border: groove 8px;
    border-color: rgb(255, 196, 0);
}
.card {
    background-color: rgb(235, 235, 235);
    width: 65%;
    height: 570px;
}
.card-title {
    font-family: 'Amaranth';
    position: relative;
    left: 20px;
    top: 15px;
}
.card-description {
    font-family: 'Amaranth';
    position: relative;
    left: 20px;
}
.card-image {
    width: 90%;
    height: 60%;
    position: relative;
    left: 20px;
}
.card-footer {
    font-family: 'Amaranth';
    position: relative;
    left: 50px;
    bottom: 10px;
}
.card-footer-image {
    position: relative;
    left: 15px;
    bottom: 57px;
}
.card-text {
    font-family: 'Amaranth';
    position: relative;
    left: 20px;
    bottom: 60px;
    width: 80%;
}
.card-button {
    display: inline-block;
    position: relative;
    bottom: 16%;
    left: 85%;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 174, 0);
    border: groove 5px;
    border-color: rgb(255, 196, 0);
    border-radius: 1px;
    font-family: 'Amaranth';
}
.card-button:hover {
    display: inline-block;
    position: relative;
    bottom: 16%;
    left: 85%;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 213, 124);
    border: groove 5px;
    border-color: rgb(255, 221, 108);
    border-radius: 1px;
    font-family: 'Amaranth';
    cursor: pointer;
    transform: scale(1.01);
}