body {
    background-color: black;
}

.container {
    padding: 20px;
    display: grid;
    grid-template-areas: 
      'login login createAccount createAccount';
    grid-column-gap: 50px;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Alegreya SC';
    width: 1000px;
    height: 600px;
    background-image: url('/assets/images/1280x800nb.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.loginForm {
    grid-area: login;
    color: white;
    border: 5px ridge rgb(138, 146, 143);
    width: 300px;
    background-color: rgba(0, 0, 0, 0.829);
}

.createAccountForm {
    grid-area: createAccount;
    color: white;
    border: 5px ridge rgb(138, 146, 143);
    width: 300px;
    background-color: rgba(0, 0, 0, 0.829);
}

.formInput {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 25px;
    width: 200px;
    font-family: 'Alegreya SC';
}

.createAccountButton {
    border: 5px ridge rgb(138, 146, 143);
    background-color: rgb(255, 183, 0);
    width: 200px;
    height: 50px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Alegreya SC';
}

.createAccountButton:hover {
    border: 5px ridge rgb(138, 146, 143);
    background-color: rgb(255, 202, 70);
    width: 200px;
    height: 50px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Alegreya SC';
    cursor: pointer;
    transform: scale(1.01);
}

.loginButton {
    border: 5px ridge rgb(138, 146, 143);
    background-color: rgb(255, 183, 0);
    width: 200px;
    height: 50px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Alegreya SC';
}

.loginButton:hover {
    border: 5px ridge rgb(138, 146, 143);
    background-color: rgb(255, 202, 70);
    width: 200px;
    height: 50px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Alegreya SC';
    cursor: pointer;
    transform: scale(1.01);
}

#labelError {
    color: gold;
}