body {
    background-color: rgb(0, 0, 0);
}

.container {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    display: grid;
    grid-template-areas: 
      'header header header header'
      'hover hover hover hover'
      'footer footer footer footer';
    grid-row-gap: 5px;
    justify-content: center;
    justify-items: center;
}

.container div {
    padding: 10px;
}

/* ---------- FIRST ROW HEADER ---------- */

#header {
    grid-area: header;
    height: 400px;
    width: 1200px;
    background-image: url("/assets/images/1280x800.png");
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

#header-logo {
    height: 100px;
    width: 500px;
    display: block;
    margin-right: auto;
    margin-top: 100px;
}
#ip-button {
    position: relative;
    display: inline-block;
    padding: 0 60px;
    outline: none;
    border: none;
    background-color: rgb(255, 183, 0);
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    transform: perspective(400px) rotateX(6deg);
    line-height: 2;
    padding: 0;
    overflow: visible;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .7);
    transition: color .1s ease-in .1s, transform .185s ease-in, box-shadow .15s ease-in;
    height: 50px;
    width: 150px;
    margin-right: 700px;
    font-family: 'Alegreya SC';
}
#ip-button:hover {
    position: relative;
    display: inline-block;
    padding: 0 60px;
    outline: none;
    border: none;
    background-color: rgb(255, 183, 0);
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    transform: perspective(400px) rotateX(6deg) scale(1.1);
    line-height: 2;
    padding: 0;
    overflow: visible;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .7);
    transition: color .1s ease-in .1s, transform .185s ease-in, box-shadow .15s ease-in;
    height: 50px;
    width: 150px;
    margin-right: 700px;
    font-family: 'Alegreya SC';
}

#header-ip {
    color: white;
    font-size: 18px;
    font-family: 'Alegreya SC';
    position: relative;
    left: 850px;
    top: 50px;
    width: 250px;
    transition: color .1s ease-in .1s, transform .185s ease-in, box-shadow .15s ease-in;
}
#header-ip:hover {
    color: white;
    font-size: 18px;
    font-family: 'Alegreya SC';
    position: relative;
    left: 850px;
    top: 50px;
    width: 250px;
    cursor: pointer;
    transform: scale(1.1);
    transition: color .1s ease-in .1s, transform .185s ease-in, box-shadow .15s ease-in;
}

#header-button {
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-family: 'Alegreya SC';
    margin-top: 40px;
    border: 5px ridge rgb(138, 146, 143);
    background-color: rgb(255, 183, 0);
}
#header-button:hover {
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-family: 'Alegreya SC';
    margin-top: 40px;
    border: 5px ridge rgb(138, 146, 143);
    background-color: rgb(255, 211, 100);
    cursor: pointer;
}

/* ---------- SECOND ROW CONTENT ---------- */

#hover {
    grid-area: hover;
    height: auto;
    width: 1200px;
    background-color: white;
    border: 6px ridge rgb(138, 146, 143);
}

/* CARD COLUMN */

.cards-container {
    display: grid;
    grid-template-areas: 
      'card card card minicard';
    background-color: white;
    height: auto;
    grid-column-gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#block-card {
    grid-area: card;
    display: block;
    border: 1px ridge rgb(138, 146, 143);
    width: 880px;
    height: 530px;
}

#card {
    grid-area: card;
}

#block-title {
    display: block;
    background-color: rgb(204, 204, 204);
    height: 40px;
}

#card-title {
    position: relative;
    top: 10px;
    left: 10px;
    font-size: 20px;
    font-family: 'Alegreya SC';
}

#card-banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 860px;
    height: 400px;
}

#block-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    width: 700px;
    text-align: center;
}

#card-text {
    position: relative;
    top: 10px;
    font-family: 'Alegreya SC';
    font-size: 18px;
}

/* MINICARD COLUMN */

#minicard {
    grid-area: minicard;
    height: auto;
    justify-self: right;
}

#block-image {
    display: block;
    border: 5px ridge rgb(138, 146, 143);
    width: 250px;
    height: 250px;
    text-align: center;
}

#block-text-minicard {
    display: block;
    background-color: rgba(0, 0, 0, 0.726);
    width: 251px;
    height: 80px;
    position: relative;
    bottom: 85px;
    right: 2px;
    border: 1px solid rgb(255, 183, 0);
}

#minicard-text {
    font-size: 20px;
    color: rgb(255, 187, 0);
    font-weight: bold;
    font-family: 'Alegreya SC';
    position: relative;
    top: 10px;
}

#minicard-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 20px;
    width: 100px;
    height: 25px;
    padding: 0 60px;
    outline: none;
    border: none;
    background-color: rgb(255, 183, 0);
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    padding: 0;
    overflow: visible;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .7);
    transition: color .1s ease-in .1s, transform .185s ease-in, box-shadow .15s ease-in;
    font-family: 'Alegreya SC';
}

#minicard-button:hover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 20px;
    width: 100px;
    height: 25px;
    padding: 0 60px;
    outline: none;
    border: none;
    background-color: rgb(255, 183, 0);
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    padding: 0;
    overflow: visible;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .7);
    transition: color .1s ease-in .1s, transform .185s ease-in, box-shadow .15s ease-in;
    font-family: 'Alegreya SC';
    transform: scale(1.1);
}

/* ---------- THIRD ROW FOOTER ---------- */

#footer {
    grid-area: footer;
    height: 100px;
    width: 1200px;
    border: 6px ridge rgb(138, 146, 143);
}