body {
    background-color: rgb(27, 27, 27);
}

a {
    text-decoration: none;
}

.loginContainer {
    color: white;
    height: 30px;
    border-bottom: 1px solid rgb(255, 183, 0);
    display: grid;
    grid-template-areas: 
      'loginButtons';
    justify-content: center;
}

.loginButtons {
    grid-area: loginButtons;
}

.loginButton {
    width: 100px;
    height: 25px;
    padding: 0 60px;
    margin-left: 3px;
    margin-right: 3px;
    outline: none;
    border: none;
    background-color: rgb(255, 183, 0);
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    font-size: 15px;
    padding: 0;
    overflow: visible;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .7);
    transition: color .1s ease-in .1s, transform .185s ease-in, box-shadow .15s ease-in;
    font-family: 'Alegreya SC';
}

.loginButton:hover {
    width: 100px;
    height: 25px;
    padding: 0 60px;
    outline: none;
    border: none;
    background-color: rgb(255, 183, 0);
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    font-size: 15px;
    padding: 0;
    overflow: visible;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .7);
    transition: color .1s ease-in .1s, transform .185s ease-in, box-shadow .15s ease-in;
    font-family: 'Alegreya SC';
    cursor: pointer;
    transform: scale(1.05);
}

.container {
    display: grid;
    grid-template-areas: 
      'header header header header'
      'body body body body'
      'footer footer footer footer';
    grid-row-gap: 5px;
}

.headerContainer {
    grid-area: header;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 1500px;
    background-image: url("/assets/images/headerBackground.png");
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.headerIpImg {
    height: 100px;
    width: 500px;
    display: block;
    margin-right: auto;
    margin-left: 150px;
    margin-top: 100px;
}

.headerIpButton {
    height: 50px;
    width: 150px;
    margin-right: 700px;
    padding: 0 60px;
    outline: none;
    border: 5px ridge rgb(138, 146, 143);
    background-color: rgb(255, 183, 0);
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    font-size: 20px;
    padding: 0;
    overflow: visible;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .7);
    transition: color .1s ease-in .1s, transform .185s ease-in, box-shadow .15s ease-in;
    font-family: 'Alegreya SC';
}

.headerIpButton:hover {
    height: 50px;
    width: 150px;
    margin-right: 700px;
    padding: 0 60px;
    outline: none;
    border: 5px ridge rgb(138, 146, 143);
    background-color: rgb(255, 183, 0);
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    font-size: 20px;
    padding: 0;
    overflow: visible;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .7);
    transition: color .1s ease-in .1s, transform .185s ease-in, box-shadow .15s ease-in;
    font-family: 'Alegreya SC';
    cursor: pointer;
    transform: scale(1.1);
}

.headerIpText {
    color: white;
    font-size: 18px;
    font-family: 'Alegreya SC';
    position: relative;
    left: 1000px;
    top: 50px;
    width: 250px;
    transition: color .1s ease-in .1s, transform .185s ease-in, box-shadow .15s ease-in;
}

.headerIpText:hover {
    color: white;
    font-size: 18px;
    font-family: 'Alegreya SC';
    position: relative;
    left: 1000px;
    top: 50px;
    width: 250px;
    cursor: pointer;
    transform: scale(1.1);
    transition: color .1s ease-in .1s, transform .185s ease-in, box-shadow .15s ease-in;
}

.headerMenuButton {
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-family: 'Alegreya SC';
    margin-top: 40px;
    border: 5px ridge rgb(138, 146, 143);
    background-color: rgb(255, 183, 0);
}

.headerMenuButton:hover {
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-family: 'Alegreya SC';
    margin-top: 40px;
    border: 5px ridge rgb(138, 146, 143);
    background-color: rgb(255, 211, 100);
    cursor: pointer;
}

.bodyContainer {
    grid-area: body;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 1200px;
    background-color: white;
    border: 6px ridge rgb(138, 146, 143);
}

.bodyCardsContainer {
    display: grid;
    grid-template-areas: 
      'mainCard mainCard mainCard sideCard';
    grid-column-gap: 20px;
    margin: 10px;
}

.bodyMainCardContainer {
    grid-area: mainCard;
    width: 900px;
}

.bodyMainCard {
    border: 1px solid rgb(136, 136, 136);
    height: 530px;
}

.bodyMainCardHeader {
    background-color: rgb(207, 207, 207);
    height: 50px;
}

.bodyMainCardTitle {
    position: relative;
    top: 15px;
    left: 10px;
    font-size: 22px;
    font-family: 'Alegreya SC';
}

.bodyMainCardImg {
    width: 880px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url('/assets/images/bloodmoon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bodyMainCardFooter {
    width: 700px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.bodyMainCardText {
    font-family: 'Alegreya SC';
    font-size: 18px;
}

.bodyMainCardSubText {
    font-family: 'Alegreya SC';
    position: relative;
    top: 20px;
    width: 200px;
    height: 25px;
    padding: 0 60px;
    outline: none;
    border: none;
    background-color: rgb(255, 183, 0);
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    font-size: 15px;
    padding: 0;
    overflow: visible;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .7);
    font-family: 'Alegreya SC';
    cursor: pointer;
}

.bodySideCardContainer {
    grid-area: sideCard;
    width: 250px;
}

.bodySideCard {
    border: 5px ridge rgb(116, 126, 122);
    height: 250px;
    background-image: url('/assets/images/minicard.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bodySideCardTextContainer {
    height: 80px;
    background-color: rgba(0, 0, 0, 0.74);
    margin-top: 170px;
    border-top: 1px solid rgb(255, 183, 0);
    text-align: center;
}

.bodySideCardText {
    color: rgb(255, 183, 0);
    font-family: 'Alegreya SC';
    font-size: 22px;
    margin-top: 5px;
}

.bodySideCardButton {
    margin-top: 10px;
    width: 100px;
    height: 25px;
    padding: 0 60px;
    outline: none;
    border: none;
    background-color: rgb(255, 183, 0);
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    font-size: 15px;
    padding: 0;
    overflow: visible;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .7);
    transition: color .1s ease-in .1s, transform .185s ease-in, box-shadow .15s ease-in;
    font-family: 'Alegreya SC';
}

.bodySideCardButton:hover {
    margin-top: 10px;
    width: 100px;
    height: 25px;
    padding: 0 60px;
    outline: none;
    border: none;
    background-color: rgb(255, 183, 0);
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    font-size: 15px;
    padding: 0;
    overflow: visible;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .7);
    transition: color .1s ease-in .1s, transform .185s ease-in, box-shadow .15s ease-in;
    font-family: 'Alegreya SC';
    cursor: pointer;
    transform: scale(1.1);
}

.footerContainer {
    grid-area: footer;
    border: 6px ridge rgb(138, 146, 143);
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 100px;
}

.footerInfoContainer {
    width: 1000px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    text-align: center;
}

.footerText {
    color: white;
    font-family: 'Alegreya SC';
}

/*                      */
/*      LOGIN PAGE      */
/*                      */

.loginBoxContainer {
    border: 6px ridge rgb(138, 146, 143);
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 100px;
    background-color: rgb(27, 27, 27);
    text-align: center;
    color: white;
    font-family: 'Alegreya SC';
}

.loginBoxInput {
    display: block;
    width: 250px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    border: 5px ridge rgb(255, 183, 0);
    font-family: 'Alegreya SC';
}

.loginBoxButton {
    width: 200px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 60px;
    outline: none;
    border: none;
    background-color: rgb(255, 183, 0);
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    font-size: 18px;
    padding: 0;
    overflow: visible;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .7);
    transition: color .1s ease-in .1s, transform .185s ease-in, box-shadow .15s ease-in;
    font-family: 'Alegreya SC';
}

.loginBoxButton:hover {
    width: 200px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 60px;
    outline: none;
    border: none;
    background-color: rgb(255, 183, 0);
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    font-size: 18px;
    padding: 0;
    overflow: visible;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .7);
    transition: color .1s ease-in .1s, transform .185s ease-in, box-shadow .15s ease-in;
    font-family: 'Alegreya SC';
    cursor: pointer;
    transform: scale(1.1);
}

/*                       */
/*      SIGNUP PAGE      */
/*                       */

.signupBoxContainer {
    border: 6px ridge rgb(138, 146, 143);
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 100px;
    background-color: rgb(27, 27, 27);
    text-align: center;
    color: white;
    font-family: 'Alegreya SC';
}

.signupBoxInput {
    display: block;
    width: 250px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    border: 5px ridge rgb(255, 183, 0);
    font-family: 'Alegreya SC';
}

.signupBoxButton {
    width: 200px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 60px;
    outline: none;
    border: none;
    background-color: rgb(255, 183, 0);
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    font-size: 18px;
    padding: 0;
    overflow: visible;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .7);
    transition: color .1s ease-in .1s, transform .185s ease-in, box-shadow .15s ease-in;
    font-family: 'Alegreya SC';
}

.signupBoxButton:hover {
    width: 200px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 60px;
    outline: none;
    border: none;
    background-color: rgb(255, 183, 0);
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    font-size: 18px;
    padding: 0;
    overflow: visible;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .7);
    transition: color .1s ease-in .1s, transform .185s ease-in, box-shadow .15s ease-in;
    font-family: 'Alegreya SC';
    cursor: pointer;
    transform: scale(1.1);
}

.suportFormContainer {
    border: 6px ridge rgb(138, 146, 143);
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgb(27, 27, 27);
    text-align: center;
    color: white;
    font-family: 'Alegreya SC';
}

.suportFormText {
    display: block;
    width: 600px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 5px ridge rgb(255, 183, 0);
    font-family: 'Alegreya SC';
}

.suportFormInput {
    display: block;
    width: 600px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    border: 5px ridge rgb(255, 183, 0);
    font-family: 'Alegreya SC';
}

.suportFormButton {
    width: 200px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 60px;
    outline: none;
    border: none;
    background-color: rgb(255, 183, 0);
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    font-size: 18px;
    padding: 0;
    overflow: visible;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .7);
    transition: color .1s ease-in .1s, transform .185s ease-in, box-shadow .15s ease-in;
    font-family: 'Alegreya SC';
}

.suportFormButton:hover {
    width: 200px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 60px;
    outline: none;
    border: none;
    background-color: rgb(255, 183, 0);
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    font-size: 18px;
    padding: 0;
    overflow: visible;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .7);
    transition: color .1s ease-in .1s, transform .185s ease-in, box-shadow .15s ease-in;
    font-family: 'Alegreya SC';
    cursor: pointer;
    transform: scale(1.1);
}

.errorContainer {
    color: red;
    font-family: 'Alegreya SC';
}

.rulesContainer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 1100px;
    height: fit-content;
}

.ruleHeader {
    border: 3px ridge rgb(255, 183, 0);
    border-radius: 10px;
    background-color: black;
    width: 300px;
    font-family: 'Alegreya SC';
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.ruleTitle {
    color: rgb(255, 183, 0);
    margin-top: 10px;
    font-size: 20px;
}

.ruleBody {
    border: 1px solid rgb(138, 146, 143);
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Alegreya SC';
}

.ruleText {
    font-size: 16px;
}